doctype
html
  head
    link(rel="stylesheet",type="text/css",href="css/index.css")
  body(style="min-height:5000px;background:linear-gradient(180deg,#cdf,#dfd)")
    include list-allshow-200.pug
    //-.img(style="background:url(rain.svg)",data-src="rain.svg")
    script(src="js/index.js")
    script: :lsc
      setInterval (->
        v = 0
        t1 = Date.now!
        for i from 0 til 1000000 => v += Math.random!
        t2 = Date.now!
        console.log t2 - t1
      ), 2000
