doctype
html
  head
  body
    script: :lsc
      setInterval (->
        v = 0
        t1 = Date.now!
        for i from 0 til 1000000 => v += Math.random!
        t2 = Date.now!
        console.log t2 - t1
      ), 2000


