doctype
html
  head
    link(rel="stylesheet",type="text/css",href="css/index.css")
  body(style="min-height:5000px;background:linear-gradient(180deg,#cdf,#dfd)")
    include list-200.pug
    //-.img(style="background:url(rain.svg)",data-src="rain.svg")
    script(src="js/index.js")

