doctype
html
  head
    link(rel="stylesheet",type="text/css",href="css/index.css")
    style(type="text/css"): :stylus
      @keyframes ani
        0%   { transform: rotate(0deg) }
        50%  { transform: rotate(180deg) }
        100% { transform: rotate(360deg) }
      .lda
        will-change: transform, opacity
        animation: ani .5s linear infinite
        width: 64px
        height: 64px
        background: #f00
        border: 12px solid
        border-color: #ff0 transparent transparent transparent
        border-radius: 50%
        display: block
        margin: 10px
        
  body(style="min-height:5000px;background:linear-gradient(180deg,#cdf,#dfd) fixed")
    .ldlz(data-src="assets/img/svg/a03yq6.svg",style="width:300px;height:300px;background-size:64px 64px")
    //-each i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
      each j in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
        .lda.ldlz

    div
      each i in [1,2,3,4,5,6,7,8]
        each j in [1,2,3,4,5,6,7,8]
          .lda.ldlz
      include list-200.pug

    //-div
      each i in [1,2,3,4,5,6,7,8]
        each j in [1,2,3,4,5,6,7,8]
          .lda
      include list-allshow-200.pug
    //-.img(style="background:url(rain.svg)",data-src="rain.svg")
    script(src="assets/debounce/debounce.min.js")
    script(src="assets/ldlz/ldlz.min.js")
    script(src="js/index.js")
    script: :lsc
      setInterval (->
        v = 0
        t1 = Date.now!
        for i from 0 til 1000000 => v += Math.random!
        t2 = Date.now!
        console.log t2 - t1
      ), 2000
