//- module
.ldlz.img(data-src="assets/img/svg/a03yq6.svg")
.ldlz.img(data-src="assets/img/svg/a45ufu.svg")
.ldlz.img(data-src="assets/img/svg/a7vef7.svg")
.ldlz.img(data-src="assets/img/svg/aaoh6l.svg")
.ldlz.img(data-src="assets/img/svg/ae9soh.svg")
.ldlz.img(data-src="assets/img/svg/ai52rc.svg")
.ldlz.img(data-src="assets/img/svg/alw4sq.svg")
.ldlz.img(data-src="assets/img/svg/apqq6g.svg")
.ldlz.img(data-src="assets/img/svg/athuh7.svg")
.ldlz.img(data-src="assets/img/svg/awx0uk.svg")
.ldlz.img(data-src="assets/img/svg/a06pwm.svg")
.ldlz.img(data-src="assets/img/svg/a47oeh.svg")
.ldlz.img(data-src="assets/img/svg/a82l7n.svg")
.ldlz.img(data-src="assets/img/svg/aat1jv.svg")
.ldlz.img(data-src="assets/img/svg/ae9x11.svg")
.ldlz.img(data-src="assets/img/svg/ai6oeo.svg")
.ldlz.img(data-src="assets/img/svg/alysew.svg")
.ldlz.img(data-src="assets/img/svg/aqaco2.svg")
.ldlz.img(data-src="assets/img/svg/athvkp.svg")
.ldlz.img(data-src="assets/img/svg/ax7ea2.svg")
.ldlz.img(data-src="assets/img/svg/a09n79.svg")
.ldlz.img(data-src="assets/img/svg/a4a5qb.svg")
.ldlz.img(data-src="assets/img/svg/a83q5.svg")
.ldlz.img(data-src="assets/img/svg/aavxla.svg")
.ldlz.img(data-src="assets/img/svg/aego90.svg")
.ldlz.img(data-src="assets/img/svg/ai7rj8.svg")
.ldlz.img(data-src="assets/img/svg/am1kgf.svg")
.ldlz.img(data-src="assets/img/svg/aqdlop.svg")
.ldlz.img(data-src="assets/img/svg/atnmc7.svg")
.ldlz.img(data-src="assets/img/svg/axe6vc.svg")
.ldlz.img(data-src="assets/img/svg/a0f29d.svg")
.ldlz.img(data-src="assets/img/svg/a4d72l.svg")
.ldlz.img(data-src="assets/img/svg/a85blb.svg")
.ldlz.img(data-src="assets/img/svg/aay9b1.svg")
.ldlz.img(data-src="assets/img/svg/aeo1sl.svg")
.ldlz.img(data-src="assets/img/svg/ai8zxw.svg")
.ldlz.img(data-src="assets/img/svg/am85kt.svg")
.ldlz.img(data-src="assets/img/svg/aqh7nr.svg")
.ldlz.img(data-src="assets/img/svg/atpy7i.svg")
.ldlz.img(data-src="assets/img/svg/axjqp8.svg")
.ldlz.img(data-src="assets/img/svg/a0nhc1.svg")
.ldlz.img(data-src="assets/img/svg/a4h010.svg")
.ldlz.img(data-src="assets/img/svg/a8apkj.svg")
.ldlz.img(data-src="assets/img/svg/aayq0.svg")
.ldlz.img(data-src="assets/img/svg/aeuwou.svg")
.ldlz.img(data-src="assets/img/svg/aig5w1.svg")
.ldlz.img(data-src="assets/img/svg/amcmw8.svg")
.ldlz.img(data-src="assets/img/svg/aqolto.svg")
.ldlz.img(data-src="assets/img/svg/atrvdt.svg")
